body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.site-logo {
    font-size: 2rem;
    margin-right: 1rem;
}

.auth-icon {
    margin-left: .5rem;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border-color: #1E88E5;
    background-color: #1E88E5;
}

[type="checkbox"].filled-in.invalid:checked+span:not(.lever):after {
    border-color: #F44336;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
}

table {
    width: 500px;
    max-width: 100%;
}

button {
    width: max-content;
}