body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.site-logo {
    font-size: 2rem;
    margin-right: 1rem;
}

.auth-icon {
    margin-left: .5rem;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border-color: #1E88E5;
    background-color: #1E88E5;
}